* {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: white;
  color: black;
  transition: 0.3s;
}

/* Default Light Mode */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: white;   /* white body */
  color: black;              /* black text */
  transition: 0.3s;
}

/* menu section */

.menu {
  height: 60px;
  width: 1481px;
  background-color: #1d2a35;
  display: flex;
  align-items: center;
  padding: 0 20px;
      
}


/* logo section */

.logo {
  height:60px;
  width: 70px;
  text-align: center;
}

.logo h3{
  margin-top: 6px;
  
}

.logo h3 a {
  text-decoration: none;
  color: #04aa6d;
  font-size: 18px;
  text-align: center;
}


/* navbar section */

.nav ul li {
  height: 60px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav ul {
  margin-left: 10px;
  display: flex;
  list-style: none;
  padding: 0;
}

.nav a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}


.nav li:hover {
  background-color: #04aa6d;
}

/* Search bar section */

.search-container {
  position: relative;
  display: inline-block;
  margin-left: 10px;
}

.search-container input {
  padding: 10px 40px 10px 20px;
  border-radius: 25px;
  border: 1px solid #ccc;
  font-size: 16px;
  font-style: italic;
  width: 170px;
  height: 35px;
}

.search-container input::placeholder {
  font-style: italic;
  color: #666;
}

.search-container button {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  cursor: pointer;
}

.search-container button img {
  width: 16px;
  height: 16px;
}

input::placeholder {
  font-style: italic;
}

/* theme section */


.topbar {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 5px;
}

.toggle-btn {
  background: white;
  border: none;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

/* Dark mode styles */
.darkmode {
  background-color: #1d2a35;
  color: white;
}


/* about section */

.about {
  margin-left: 35px;
}

.about ul li {
  height: 40px;
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.about ul {
  margin-left: 65px;
  display: flex;
  list-style: none;
  padding: 0;
}

.about a {
  text-decoration: none;
  color: rgb(203, 203, 203);
  font-size: 15px;

}


.about li:hover {
  background-color: #38444d;
  border-radius: 20px;
}


/* signin bar section */

.sign {
  height: 30px;
  width: 100px;
  margin-left: 12px;
  margin-top: -10px;
}

.sign button {
  height: 40px;
  width: 100px;
  border-radius: 10px;
  border: none;
  font-size: 15px;
  background-color: #04aa6d  ;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sign button:hover{
  background-color:  rgb(199, 199, 199, 0.1);
}


.scroll-container {
  display: flex;
  overflow-x: auto;
  background-color: #141d24;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.box {
  flex: 0 0 auto;
  color: white;
  text-decoration: none;
  padding: 14px 20px;
  font-size: 13px;
  transition: 0.3s;
  
}

.box:hover {
  background-color: #04aa6d;
}

/*html-info*/

.html-container{
  overflow-y: auto;
  background-color: #1d2a35;
  width: 245px;
  height: 640px;
  scrollbar-width: thin;              /* Firefox slim scrollbar */
  scrollbar-color: #828383 #1d2a35;   /* thumb + track color */
  padding-right: 8px;                 /* scroll bar ko andar lane ke liye */
  box-sizing: content-box;  
}

.html-container::-webkit-scrollbar {
  width: 8px;   /* slim scrollbar */
}

.html-container::-webkit-scrollbar-track {
  background: #1d2a35;   /* background same color */
}

.html-container::-webkit-scrollbar-thumb {
  background-color: #1d2a35; 
  border-radius: 0px;
}

.html-container::after {
  content: "";
  display: block;
  height: 30px;        /* jitna space chahiye utna set karo */
  background-color: #1d2a35;
}

.head{
  color: white;
  margin: 15px 0px 8px 15px;
  font-size: 20px;
}       

.headone{
  color: white;
  margin: 25px 0px 8px 15px;
  font-size: 20px;
}

.boxone {
  color: white;
  text-decoration: none;
  font-size: 15px;
  transition: 0.3s;
  padding: 5px 0px 5px 15px;
  
}

.html-container a{
  text-decoration: none;
}


.boxone:hover{
  background-color: #04aa6d;
  color: white;
}

